@import "tailwindcss";

@layer base {
    :root {
        --primary : #0fe1f0;
    }
}

@layer utilities {
    .bg-primary {
        background-color: var(--primary);
    }
    .text-primary {
        color: var(--primary);
    }
    .border-primary {
        border-color: var(--primary);
    }
    .from-primary {
        --tw-gradient-from: var(--primary);
    }
    .to-primary {
        --tw-gradient-to: var(--primary);
    }
    .via-primary {
        --tw-gradient-to: var(--primary);
    }
}

@theme {
    --color-primary: #0fe1f0;
    --animate-wave: wave 2s infinite;

    @keyframes wave {
        0%, 100% { transform: rotate(0deg); }
        10% { transform: rotate(14deg); }
        20% { transform: rotate(-8deg); }
        30% { transform: rotate(14deg); }
        40% { transform: rotate(-4deg); }
        50% { transform: rotate(10deg); }
        60% { transform: rotate(0deg); }
    }
}
